{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{ deps, [
    {mysql, ".*", {git, "git://github.com/mysql-otp/mysql-otp.git", {tag, "1.5.0"}}},
    {lager, ".*", {git, "git://github.com/erlang-lager/lager.git", {branch, "master"}}},
    {worker_pool, "4.0.0"}
]}.

{ relx, [
    {release, {chovya, "0.1.0"}, [chovya, sasl, runtime_tools]},
    {dev_mode, true},
    {include_erts, true},
    {extended_start_script, true}
]}.

{ ct_opts, [
    {config, "test/test.cfg"}
]}.

{ shell, [
    {apps, [chovya]}
]}.
